.cproject
obj
assets
bin
gen
*.so
*.o
*o.d

.gradle
proj.android/build

modules/libcocos

project.xcworkspace
proj.ios_mac/Cocos2dRogueLike.xcodeproj/xcuserdata/kyokomi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
