.cproject
obj
assets
bin
gen
*.so
*.o
*o.d
doc/

# idea, gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build

proj.ios_mac/Cocos2dRogueLike.xcodeproj/project.xcworkspace/xcuserdata/m00206-yokomichi.xcuserdatad
project.xcworkspace
proj.ios_mac/Cocos2dRogueLike.xcodeproj/xcuserdata/kyokomi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
